

.cart-info{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    /* display: inline-block; */
}

.cart-info h5{
    margin-left: 10px;
}
.cart-info p{
    margin-left: 10px;
    font-size: 14px;
    margin-top: -5px;
}
.cart-info img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin: 5px 0;
}

.button{
    border: 2px solid navy;
    border-radius: 5px;
    background: none;
    font-weight: 600;
    margin-top: 25px;
    color: navy;
    display: flex;
}

.text-center .C{
    margin-top: 5px;
}

.button:hover{
    background-color: cornsilk;
}

.trash{
    font-size: 24px;
}